*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Sans-serif;
	font-size: 16px;
	background:url(../img/ImagenDeFondo.jpg);
}

.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

header{
	background: #fff;

}

header nav{
	width: 100%;

}

header nav ul{
	width: 100%;
	overflow:hidden;
	list-style: none;
}

header nav ul li{
	float: left;
}

header nav ul li a{
	text-decoration: none;
	padding: 15px; 20px;
	display: inline-block;
	color: #000000  ;
}

header nav ul li a:hover{
	background: #D11E85;
	color: #000;
}

.main{
	width: 70%;
	background: #fff;
	float: left;
}

.main .imagen {
	width: 100%;
}

.main .imagen img{
	width: 100%;
	vertical-align:top;

}

.main .post{
	padding: 40px;
	
}

.main .post article h2{
	margin-bottom: 20px;
	color: #424242;
	text-align: center;
}

.main .post article p{
	margin-bottom: 15px;
	line-height: 27px;
	text-align: justify;
}

.post article img{
   width: 300px;
}

.imagenaside{

	width:250px;
	height:425px;
}
.imagenfrases{
    width: 250px;
    height: 250px;
}
aside .widget{
	margin-bottom: 20px;
}
aside {
	width: 30%;
	background: #FC49A2;
	padding: 20px;
	color: #000000;
	float: left;
}

aside .widget {
	margin-bottom: 50px;
}

aside .widget .titulo {
	color:  #000000 ;
	border-bottom: 1px solid #000000  ;
	margin-bottom: 10px;
}

aside .widget ul {
	list-style: none;
}

aside .widget ul li {
	border-bottom: 1px solid rgba(255,255,255, 0.2);
	padding: 10px 0;
}

aside .widget ul li a {
	color: #D11E85;
	text-decoration: none;
}

aside .widget ul li a:hover {
	color: #fff;
}

aside .widget p {
	line-height: 27px;
}

footer{
	width: 70%;
	overflow: hidden;
	background: #000;
	color: #fff;
	padding: 15px 0px;
	text-align: center;
}

}
/* 1 */
.formulario {
	background: #EF2C82;
	width: 500px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
	opacity: 0.8;
}

/* Reglas del Formulario */
/* 1 */
.formulario {
	background:#EE4AB5  ;
	width: 100%;
	margin: 15px auto;
	padding: 15px;
	border-radius: 10px;
	opacity: 1.5;
}
/* 2 */
.formulario input {
	display: block;
}
/* 3 */
.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	border:1px solid #EE4AB5  ;
	font-family: Times New Roman;
	font-size: 20px;
}
/* 4 */
.formulario textarea {
	min-height: 100px;
	max-height: 300px;
	min-width:100%;
	max-width: 100%
}
/* 7 */
.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {
	border: 2px solid #EE4AB5  ;
}
/* 5 */
.formulario input[type="submit"] {
	width: 100%;
	margin:0 auto;
	background: none;
	border: 1px solid #EE4AB5  ;
	color:#fff;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 3px;
}
/* 6 */
.formulario input[type="submit"]:hover {
	background: #F0F8FF;
	color: #DA70D6 ;
} 

@media screen and (max-width:800px) {
	.main {
		width: 100%;
	}

	aside {
		width: 100%;
	}

	footer{
		width: 100%;
	}
}

